:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5rem;
  justify-content: space-between;
  background: tomato;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

h1 {
  margin: 0;
}

.buttons > button + button {
  margin-left: .5rem;
}

// This breakpoint should be the same as `mobileBreakpoint` in grid config.
@media (max-width: 700px) {
  .edit-button {
    display: none;
  }
}