:host {
  display: flex;
  height: 100%;
  width: 100%;
  .mat-card {
    flex: 1;
  }
  &:empty {
    display: none;
  }
}

:host(.editing) {
  cursor: move;
  .mat-card-content {
    pointer-events: none;
  }
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-card-title {
  font-size: 1rem;
}

.mat-card-content {
  flex: 1;
  ::ng-deep > * {
    height: 100%;
  }
}