$background: #fff;
$padding: 1rem;

:host {
  background: $background;
  padding: $padding $padding;
  height: calc(100% - #{2 * $padding});
  width: calc(100% - #{2 * $padding});
  display: flex;
  flex-direction: column;
  &:empty {
    display: none;
  }
}

.content {
  flex: 1;
  overflow: auto;
  ::ng-deep > * {
    height: 100%;
    width: 100%;
    position: relative;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  :host:hover & {
    margin-right: $padding / 4;
  }
}

.actions {
  background: $background;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: $padding / 4;
  gap: $padding / 4;
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 100ms, transform 200ms;
  :host:hover & {
    opacity: 1;
    transform: none;
    transition: opacity 300ms, transform 200ms; 
  }
}

.drag-handler {
  cursor: move;
}