:host {
  display: flex;
  height: 100%;
  width: 100%;
  .mat-card {
    flex: 1;
  }
  &:empty {
    display: none;
  }
}

:host(.editing) {
  .mat-card-content {
    pointer-events: none;
  }
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-card-title {
  font-size: 1rem;
}

.mat-card-content {
  flex: 1;
  margin-bottom: 0;
  ::ng-deep > * {
    height: 100%;
    width: 100%;
    position: relative;
  }
}

.edit-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}