// :host {
//   display: block;
//   height: 100%;
// }

gridster, gridster-item {
  background: none;
  border-radius: 8px; // match mat-card
}

$border-style: dashed;
$border-color: #ffffff45;

::ng-deep gridster .gridster-column.gridster-column {
  border-left-style: $border-style;
  border-right-style: $border-style;
  border-left-color: $border-color;
  border-right-color: $border-color;
}

::ng-deep gridster .gridster-row.gridster-row {
  border-top-style: $border-style;
  border-bottom-style: $border-style;
  border-top-color: $border-color;
  border-bottom-color: $border-color;
}